* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-repeat: repeat;

    width: auto;
    min-height: 100%;
    background-image: url("http://i.share.pho.to/a55882c8_o.jpeg");
}

.navig {
    width: 100%;
    height: 60px;
    background-color: #496da3;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid rgba(0, 0, 0, 0.418);
}

.nava {
    display: inline;
    position: relative;
    text-decoration: none;
    color: rgb(125, 211, 140);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4%;
    top: 20px;
    left: 3px;
    text-transform: uppercase;
    border: 2px solid rgba(255, 239, 213, 0.342);
    border-radius: 20px;
    font-weight: 900;
    font-size: 15px;
    margin-left: 10px;
    -webkit-box-shadow: 64px 37px 100px -18px rgba(55, 195, 11, 0.2);
    -moz-box-shadow: 64px 37px 100px -18px rgba(55, 195, 11, 0.2);
    box-shadow: 64px 37px 100px -18px rgba(55, 195, 11, 0.2);
    background-color: rgb(74, 101, 221);
}


.nava:hover {
    text-decoration: underline;
    font-size: 17px;
    background-color: #76BD81;
}
