.mainip {
    top: 100px;
    left: 20px;
    color: brown;
    display: inline-block;
    position: relative;
    font-size: 20px;
    border: 7px solid rgba(0, 0, 0, 0.1);
}

#ip {
    color: green;
}