.serial_block {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: #E6F5E4;
    padding: 30px;
    left: 50px;
    top: 100px;
    border-radius: 20px;
}

.serial_block p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.serial_block li {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 20px;
}