<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setwall.css') }}">
    {% block add_link %}
    {% endblock add_link %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body id="body">
    <div class="navig">
        <a href="/" class="nava">Home</a>
        <a href="/contact" class="nava">Contant</a>
        <a href="/location" class="nava">Location</a>
        <a href="/services" class="nava">Services</a>
        <a href="/about" class="nava">About</a>
    </div>
    {% block body %}

    {% endblock body %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>
