{% extends "base.html" %}

{% block add_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock add_link %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="hello">
    <p>Here is some welcoming text, <br>lorem ipsum dolor sit amet consectetur, adipisicing <br>elit. Laboriosam, dignissimos vitae? Modi sapiente assumenda sint itaque <br>ipsum pariatur et harum, facilis labore vitae laboriosam natus unde? Nesciunt magnam voluptates officia!</p>
</div>

<script src="{{ url_for('static', filename='') }}"></script>

{% endblock body %}
