{% extends "base.html" %}
    
{% block add_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/moving_block.css') }}">
{% endblock add_link %}
    
{% block title %}
{{ title }}
{% endblock title %}

{% block body %}

<div class="moving_block" id="moving_block_id"></div>

<div class="menu_buttons">
    <button id="open_menu">Open menu</button>
</div>


<div class="console">
    <div class="color">
        <form action="" id="color" name="color_form">
            <input type="text" name="color_field" placeholder="#123456 or name" id="color_field"><br>
            <button type="button" id="color_button">Set color</button><span>Rainbow</span><input type="checkbox" name="rainbow"><span>Border</span><input type="checkbox" name="border" id="border_check">
        </form>
    </div>
    <div class="size">
        <form action="" id="size" name="size_form">
            <input type="text" name="size_field" placeholder="number of size" id="size_field"><br>
            <button type="button" id="size_button">Set size</button>
        </form>
    </div> <br><br><hr>
    <div class="draw">
        <form action="" id="draw" name="draw_form">
            <span>Draw</span><input type="checkbox" name="draw_check"><br>
            <button type="button" id="clear_button">Clear</button>
        </form>
    </div>
</div>
<div class="paint_panel" id="paint_panel_id">
    <table>
        <tr row>
            <td>Draw</td>
            <td>Border</td>
            <td>Color</td>
            <td>Elaser</td>
        </tr>
        <tr>
            <td><input id="draw_td" type="checkbox"></td>
            <td><input id="border_td" type="checkbox"></td>
            <td id="color_td"></td>
            <td><input id="elaser_td" type="checkbox"></td>
        </tr>
    </table>    
    <input type="range" min="30" max="300" step="1" value="100" id="size_slicer"> 
</div>



<script src="{{ url_for('static', filename='js/moving_block.js') }}"></script>
{% endblock body %}

    
