{% extends "base.html" %}
    
{% block add_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wikiexist.css') }}">
{% endblock add_link %}
    
{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<div class="mainexist">
    <span>Find something: </span><br><br>
    <form action="#">
        <input type="text" name="search" id="searh_input">
        <input type="submit" value="Search", id="submit_b">
    </form><br><br>
    {{ finded }} <a href="{{ url }}" target="_blank">{{ url }}</a>
</div>

{% endblock body %}

    
